<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1>Welcome to feedback update page</h1>
    <fieldset style="width: 50%">
        {{ form(form) }}
    </fieldset>
</center>

</body>
</html>