{%  extends 'frontend/base.html.twig' %}

 {%  block content %}
     <div class="container">
         <div class="mainbanner">
             <div id="main-banner" class="owl-carousel home-slider">
                 <div class="item"> <a href="#"><img src="{{ asset('image/banners/ss.jpg') }}" alt="main-banner1" class="img-responsive" /></a> </div>
                 <div class="item"> <a href="#"><img src="{{ asset('image/banners/slidee.jpg') }}"alt="main-banner3" class="img-responsive" /></a> </div>
             </div>
         </div>
     </div>


 {% endblock %}




