service_apres_vente_homepage:
    path:     /front
    defaults: { _controller: ServiceApresVenteBundle:Default:index }

read_feedback:
    path:     /read
    defaults: { _controller: ServiceApresVenteBundle:Feedback:readFeedback }

add_feedback:
    path:    /create/{id_cat}
    defaults: {_controller: ServiceApresVenteBundle:Feedback:createFeedback}

update_feedback:
    path:    /update/{id}
    defaults: {_controller: ServiceApresVenteBundle:Feedback:updateFeedback}

delete_feedback:
    path:   /delete/{id}
    defaults: {_controller:ServiceApresVenteBundle:Feedback:deleteFeedback}

display_categorie:
    path:   /showCategorie
    defaults: {_controller:ServiceApresVenteBundle:RecFeedCat:show}

